
.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid navy;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
}

.header{
  padding: 10px;
}

body{
  padding: 10px;
  background-color: paleturquoise;
}

.hostname{
  margin-top: 8px;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
}